.DS_Store
.empty

EFI/Clover_Install_Log.txt
EFI/APPLE

EFI/CLOVER/ACPI/*
!EFI/CLOVER/ACPI/patched

EFI/CLOVER/doc

EFI/CLOVER/drivers/*
!EFI/CLOVER/drivers/UEFI

EFI/CLOVER/kexts/*
!EFI/CLOVER/kexts/Other

EFI/CLOVER/misc

EFI/CLOVER/themes/*
!EFI/CLOVER/themes/mac

EFI/CLOVER/OEM
